DATABASE_URL="file:./dev.db"
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
LEADS_TO_EMAIL=
CRM_WEBHOOK_URL=
ADMIN_PASSWORD=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_YANDEX_METRIKA_ID=
